.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 8rem auto;
    ._statement-logo {
      margin: 10px auto;
      width: 80px;
      height: auto;
    }
    h1 {
      color: #fff;
      text-align: center;
      font-weight: 500;
    }
    h2 {
      color: hsla(0,0%,100%,.6);
      text-align: center;
      max-width: 70%;
      font-size: 24px;
      margin: 30px 0px 30px;
      font-weight: 200;
    }
    ._action-button {
      margin: 30px 0px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #1b1b1b;
      padding: 15px 25px;
      width: 100%;
      border-radius: 8px;
      max-width: 800px;
      ._left {
        h3 {
          color: #fff;
          margin: 0px 0px 10px 0px;
        }
        ._explanation {
          color: hsla(0,0%,100%,.6);
        }
      }
      ._right {
        margin-left: auto;
        button {
          color: #0A0A0A;
          font-size: 18px;
          font-style: normal;
          line-height: normal;
          padding: 10px 16px;
          border-radius: 10px;
          background: #00CA7E;
          position: relative;
          border: none;
          min-width: 150px;
        }
      }
    }
    ._support {
      margin-top: 15px;
      color: hsla(0,0%,100%,.6);
      a {
        color: #00ca7e;
        text-decoration: none;
      }
    }
}

