{% extends "base.html" %}

{% block content %}
<p><b>Hi {{ first_name }},</b></p>
<p>We received a request to reset your password for Statement.</p>
<p>
  <div>
    Click the link to set a new password:
  </div>
  <div>
    <a href="{{ reset_link }}" >Reset Password</a>
  </div>
</p>
<p>
  For security reasons, this link will expire in 60 minutes. If you didn’t
  request a password reset, you can safely ignore this email.
</p>
<p>
  <div>Stay secure,</div>
  <div>The Statement Team</div>
</p>
{% endblock %}