{% extends "base.html" %}

{% block content %}
<p><b>Hi {{ first_name }},</b></p>
<p>
  <div style="margin: 10px 0;">I’m Sonu, the founder of Statement, and I’m delighted to welcome you aboard!</div>
  <div>At Statement, we make finance simple by turning raw data into
    actionable insights. Think of Statement as your personal CFO,
    here to help with everything from cash flow to expenses to
    planning ahead.
  </div>
</p>
<p>
  <div style="margin: 10px 0;">Here’s how to get started:</div>
  <div>
    <span class="li-no">1. </span><b>Connect your accounts</b> – securely link your banking or finance
    tools.
  </div>
  <div style="margin: 10px 0;">
    <span class="li-no">2. </span><b>Explore your dashboard</b> – see your data translated into
    insights.
  </div>
  <div>
    <span class="li-no">3. </span><b>Ask anything</b> – chat with Statement for instant answers.
  </div>
</p>
<p style="margin: 10px 0;">If you ever have questions, just hit reply to this email. You can also
  reach us anytime at support@askstatement.com.
</p>
<p>
  <div>Warm regards,</div>
  <div>Sonu & the Statement Team</div>
</p>
{% endblock %}