@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=IBM+Plex+Mono&display=swap');


.external_layout {
    background: #0A0A0A;
    color: #fff;

    * {
        font-family: 'DM Sans', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .page_content {
        max-width: 1344px;
        margin: auto;
        padding: 0 20px;
    }
    
    h1 {
        text-align: center;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 58px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -2.4px;
    }

    h2 {
        text-align: center;
        font-size: 50px;
        font-family: 'IBM Plex Mono', monospace;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 54px */
        letter-spacing: -2.4px;    
    }

    p {
        text-align: center;
        font-family: "DM Sans";
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 123.077% */
        letter-spacing: 0.052px;  
    }

    button, a {
        cursor: pointer;
        outline: none;
    }

    .home_div {
        p {  
            margin-bottom: 45px;    
        }

        h2 { 
            margin-bottom: 16px;   
        }
    }

    .scroll_animation {
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }

    .scroll_animation.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .header.scrolled {
        position: fixed;
        top: 0;
        left: 0;
        padding-bottom: 0;
        background: transparent;

        .header_wrap {
            box-shadow: 0px 5px 18px 0px rgba(204, 204, 204, 0.10);
            background: #0A0A0A;
            z-index: 999;
        }
    }

    .header {
        padding: 16px 11px;
        z-index: 10;
        width: 100%;
        background: #0A0A0A;
        position: relative;

        .header_wrap {
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1137px;
            border-radius: 16px;
            margin: auto;
            transition: box-shadow 0.5s ease-in-out, background 0.3ms ease-in-out;
            position: relative;

            .logo_wrap {
                display: flex;
                gap: 8px;
                align-items: center;
                cursor: pointer;

                img {
                    width: 40.319px;
                    height: 40.319px;        
                }

                h1 {
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 32px; /* 123.077% */
                    letter-spacing: -0.26px;
                }
            }

            .hamburger_menu {
                display: none;
                width: 30px;
                aspect-ratio: 1/1;
            }

            .header_menu {
                display: flex;
                gap: 24px;
                padding: 8px 12px;

                a {
                    color: #A1A1A1;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: -0.36px;
                    display: flex;
                    align-items: center;
                    position: relative;

                    ._menu {
                        svg {
                            margin-left: 8px;
                        }
                    }

                    .resource_popup_container {
                        padding-top: 45px;
                        // min-width: 1295px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 50%;
                        top: 0;
                        z-index: 2;
                        transform: translateX(-50%);
                    }

                    .resource_popup {
                        padding: 32px;
                        display: none;
                        grid-template-columns: repeat(auto-fill, minmax(599px,1fr));
                        gap: 32px;
                        border-radius: 16px;
                        background: #191919;

                        .resource_popup_wrap {
                            padding: 24px;
                            display: flex;
                            gap: 16px;
                            border-radius: 10px;
                            background: #202020;
                            border: 1px solid transparent;

                            span {
                                border-radius: 10px;
                                background: rgba(255, 255, 255, 0.10);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: fit-content;
                                padding: 12px;

                                svg {
                                    width: 24px;
                                    height: 24px;
                                    flex-shrink: 0;
                                }
                            }

                            div {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;

                                h3 {
                                    color: #FFF;
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 32px; 
                                }

                                p {
                                    color: #C3C4C5;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px; 
                                    text-align: left;
                                }
                            }

                            &:hover {
                                background: #0A0A0A;
                                border: 1px solid #00CB7D;

                                span {
                                    background: rgba(0, 191, 119, 0.10);
                                    svg path{
                                        stroke: #00BC7D;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        color: #F1F3F4;

                        .resource_popup {
                            display: grid;
                        }

                        ._menu {
                            svg path {
                                stroke: #F1F3F4;
                            }
                        }
                    }
                }
            }

            .header_button {
                display: flex;
                gap: 16px;

                button {
                    color: #F1F3F4;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 111.111% */
                    letter-spacing: -0.36px;
                    background: transparent;
                    border: none;
                }

                .sign_up {
                    color: #111;
                    padding: 6px 8px;
                    border-radius: 4px;
                    background: #00CA7E;
                    border: none;
                }

                .sign_up:hover {
                    background: #34A469;
                }
            }
        }
        
        .mobile_menu {
            display: none;
            flex-direction: column;
            background: #0A0A0A;
            width: 100%;
            opacity: 0;
            height: 0;
            transform: translateY(-20px);
            pointer-events: none;
            transition: opacity 2s ease-in-out, transform 0.3s ease-in-out, height 0.5s ease-in-out, 0.2s ease-in-out;
            box-shadow: 0px 2px 8px 0px rgba(81, 81, 81, 0.20);
            margin-top: -1px;
            position: absolute;
            left: 0;
            top: 73px;
            padding-top: 15px;
            padding-bottom: 40px;


            a.active {
                .mobile_sub_menu {
                    display: flex;
                }

                ._menu {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }

            a {
                color: #A1A1A1;
                padding: 8px 34px;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                display: flex;
                flex-direction: column;
                width: fit-content;

                ._menu {
                    display: flex;
                    align-items: center;
                }
                
                svg {
                    margin-left: 5px;
                }
                
                .mobile_sub_menu {
                    display: none;
                    flex-direction: column;
                    gap: 8px;
                    margin-top: 8px;

                    a {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; 
                        letter-spacing: -0.32px;
                        padding-left: 20px;
                    }
                }

                &:hover {
                    color: #fff;

                    svg path {
                        stroke: #fff;
                    }
                }
            }
        }

        .mobile_menu.visible {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
            height: auto;
        }
}

    .footer {
        display: flex;
        flex-direction: column;
        gap: 110px;
        width: 84.3%;
        margin: auto;
        margin-top: 140px;
        position: relative;
        z-index: 1;

        .footer_img {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 1562.046px;
            height: 155.483px;
            z-index: -1;
        }

        .footer_top {
            display: flex;
            justify-content: space-between;
            margin: 0 65px;

            .footer_logo {
                display: flex;
                height: fit-content;
                align-items: center;

                h3 {
                    padding-right: 8px;
                    border-right: 1px solid #575757;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                }

                p{
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    padding-left: 8px;
                }
            }

            .footer_menu_wrap {
                display: flex;
                gap: 120px;

                .footer_news_letter {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;

                    p {
                        color: #FFF;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }

                    input {
                        border-radius: 8px;
                        border: 1px solid #333;
                        background: #1C1C1C;
                        padding: 10px 16px;
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        &:focus {
                            border: 1px solid #333;
                            outline: none;
                        }
                    }

                    button {
                        padding: 8px 16px;
                        border-radius: 8px;
                        background: #00CA7E;
                        border: none;
                        color: #0A0A0A;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        width: 100%;

                        &:hover {
                            background: #34a469;
                        }
                    }
                }
            }

            .footer_menu {
                display: flex;
                gap: 40px;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 8px;

                    p {
                        font-family: "DM Sans";
                        font-size: 19.219px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        margin-bottom: 4px;
                    }

                    a {
                        font-family: "DM Sans";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        margin: 3px 0;
                    }
                }
            }
        }

            .footer_bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: end;
                padding-bottom: 9px;

                h4 {
                    color: #C3C4C5;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }

                p {
                    color: #C3C4C5;
                    font-family: "DM Sans";
                    font-size: 15.625px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; 
                }

                .footer_links {
                    display: flex;
                    align-items: center;
                    gap: 11px;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
    }

    .overlay {
        position: fixed;
        top: 0; 
        left: 0;
        width: 100%; height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;

        .popup {
            background: #141414;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
            border: 1px solid #00ca7e;
            width: 100%;
            max-width: 400px;
            text-align: center;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h2 {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 24px;
                color: #fff;
            }

            input {
                width: 100%;
                padding: 10px 12px;
                margin: 8px 0;
                border: 1px solid #4f4f4f;
                border-radius: 6px;
                font-size: 14px;
                background-color: #2f2d2d;
                color: #fff;
            }

            button {
                margin-top: 16px;
                background-color: #5d615a;
                width: 100%;
                padding: 12px 24px;
                color: white;
                border: none;
                border-radius: 6px;
                font-size: 16px;
            }

            #earlyAccessForm {
                max-width: 100%;
            }

            .close-btn {
                position: absolute;
                top: 15px;
                right: 20px;
                font-size: 24px;
                color: white;
                cursor: pointer;
            }
        }
    }

    @media (max-width:1110px) {
        .header {
            .header_wrap {
                width: 100%;
            }
        }

        .footer {
            .footer_top {
                margin: 0;
            }
        }
    }

    @media (max-width:850px) {
        

        .header {
            padding: 0px;
            .header_wrap {
                width: 100%;
                padding: 16px 14px;
                border-radius: 0;
                .header_menu, .header_button {
                    display: none;
                }

                .hamburger_menu {
                    display: block;
                }
            }

            .mobile_menu {
                display: flex;
            }
        }
    }

    @media (max-width: 800px) {

        h2 {
            font-size: 28px;
        }

        .home_div {
            width: 100%!important;

            h2 {
                margin-bottom: 16px;
            }

            p {
                line-height: 20px; /* 125% */
                letter-spacing: 0.052px;
                margin-bottom: 16px;
            }
        }

        .footer {
            gap: 32px;
            padding-bottom: 31px;

            .footer_img {
                width: 349px;
                height: 35px;
            }
            
            .footer_top {
                flex-direction: column;
                align-items: center;
                gap: 32px;

                .footer_logo {
                    flex-direction: column;

                    h3 {
                        padding: 0;
                        padding-bottom: 4px;
                        border: none;
                        border-bottom: 1px solid #575757;
                    }
                }

                .footer_menu {
                    flex-direction: column;
                    gap: 20px;

                    ul {
                        align-items: center;
                        p {
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px; 
                        }

                        a {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                        }
                    }
                }
            }

            .footer_bottom {
                flex-direction: column-reverse;
                gap: 4px;
                align-items: center;
            }
        }
    }
}
